footer.footer
  .footer__container.container
    .footer__container-top
      .footer__container-location
        p.footer__headline Адрес
        ul.footer__list.location-list
          li.footer__list-item.location-list__item 700-1816 Crowchild Trail NW
          li.footer__list-item.location-list__item Calgary, Alberta, T2M 3Y7 Canada

      .footer__container-contacts
        p.footer__headline Контакты
        ul.footer__list.contacts-list
          li.footer__list-item.contacts-list__item
            a(href = "mailto:info@bespokewindows.ca" aria-label="Написать письмо на почту info@bespokewindows.ca").link.contacts-list__item-link info@bespokewindows.ca
          li.footer__list-item.contacts-list__item
            a(href = "tel: +14037556939" aria-label="Позвонить по телефону +1 403-755-6939").link.contacts-list__item-link +1 403-755-6939

      .footer__container-company
        p.footer__headline KSA
        ul.footer__list.company-list
          li.footer__list-item.company-list__item
            a(href="#" aria-label="скачать презентацию").link.company-list__item-link Скачать презентацию
            svg.footer__svg
              use(xlink:href="../../img/sprite.svg#download")

    .footer__container-copyright
      .copyright
        span.copyright__company @2022 Company name
        span.copyright__privacy  —
          a(href="#" aria-label="Открыть политику конфиденциальности").link.privacy-link Политика конфиденциальности
        span.copyright__privacy  —
          a(href="#" aria-label="Изображения взяты с источника icons8").link.privacy-link Изображения icons
      a(href="https://sokolstudio.site/" aria-label="Сайт сделан при поддержке команды Sokol").link.copyright-watermark Made by sokol