section.benefits
  .container.benefits__container
    h2.benefits__title.title  Наши преимущества
    ul.benefits__wrapper
      +li-benefit-card('Безграничный ассортимент', 'Сотрудничаем с заводами-изготовителями напрямую, поэтому у нас можно заказать любые строительные материалы индивидуально под Ваш проект, в любых конфигурации и количестве.', 'Посмотреть ассортимент', 'recycle', 'fill')
      +li-benefit-card('Гарантия качества', 'Все товары сертифицированы по актуальному стандарту ISO. Товары тщательно проверяются перед каждой отправкой. В случае брака возместим стоимость.', 'Изучить процесс', 'awward', 'stroke')
      +li-benefit-card('С нами безопасно', 'Страхуем оплату по системе Sukuk — обеспечиваем банковскую гарантию прозрачности сделки. Предоставляем гарантии на продукцию от производителей.', 'Изучить гарантии', 'privacy', 'stroke')
      +li-benefit-card('Доставляем разом', 'Заказанные товары придут одновременно, что ускорит процесс строительства. Поставляем необходимые материалы в любом количестве для строительства крупных объектов.', 'Порядок доставки', 'box', 'stroke')
      +li-benefit-card('Заказ образцов', 'Убедитесь в качестве поставляемых материалов перед покупкой. Образцы товаров из каталога в наличии и готовы к отправке.', 'Перейти в каталог', 'boxing', 'fill')
      +li-benefit-card('Редкие материалы', 'Подберите редкие материалы премиального качества под конкретный проект. Доставляем товары, которых нет на местном рынке.', 'Перейти к товарам', 'bag', 'fill')
    .swiper.benefits__swiper
      .swiper-wrapper.benefits__swipewrapper
        .swiper-slide.benefits__slide
          +benefit-card('Безграничный ассортимент', 'Сотрудничаем с заводами-изготовителями напрямую, поэтому у нас можно заказать любые строительные материалы индивидуально под Ваш проект, в любых конфигурации и количестве.', 'Посмотреть ассортимент', 'recycle', 'fill')
        .swiper-slide.benefits__slide
          +benefit-card('Гарантия качества', 'Все товары сертифицированы по актуальному стандарту ISO. Товары тщательно проверяются перед каждой отправкой. В случае брака возместим стоимость.', 'Изучить процесс', 'awward', 'stroke')
        .swiper-slide.benefits__slide
          +benefit-card('С нами безопасно', 'Страхуем оплату по системе Sukuk — обеспечиваем банковскую гарантию прозрачности сделки. Предоставляем гарантии на продукцию от производителей.', 'Изучить гарантии', 'privacy', 'stroke')
        .swiper-slide.benefits__slide
          +benefit-card('Доставляем разом', 'Заказанные товары придут одновременно, что ускорит процесс строительства. Поставляем необходимые материалы в любом количестве для строительства крупных объектов.', 'Порядок доставки', 'box', 'stroke')
        .swiper-slide.benefits__slide
          +benefit-card('Заказ образцов', 'Убедитесь в качестве поставляемых материалов перед покупкой. Образцы товаров из каталога в наличии и готовы к отправке.', 'Перейти в каталог', 'boxing', 'fill')
        .swiper-slide.benefits__slide
          +benefit-card('Редкие материалы', 'Подберите редкие материалы премиального качества под конкретный проект. Доставляем товары, которых нет на местном рынке.', 'Перейти к товарам', 'bag', 'fill')
      .swiper-pagination.benefits__pagination