section.leaders
  .container.container-leaders.leaders__container
    h2.leaders__title.title Товары лидеры
    ul.leaders__wrapper
      +good-card('MDF Boards', 'SKU 14305', '25', 'Инструмент', 'tool1', format="jpg")
      +good-card('MDF Boards', 'SKU 14305', '25', 'Инструмент', 'tool2', format="jpg")
      +good-card('MDF Boards', 'SKU 14305', '25', 'Инструмент', 'tool3', format="jpg")
      +good-card('MDF Boards', 'SKU 14305', '25', 'Инструмент', 'tool4', format="jpg")
      +good-card('MDF Boards', 'SKU 14305', '25', 'Инструмент', 'tool5', format="jpg")
      +good-card('MDF Boards', 'SKU 14305', '25', 'Инструмент', 'tool6', format="jpg")
      //- +good-card-sale('MDF Boards', 'SKU 14305', '25', 'alt', 'tool1', '25', '40', format="jpg")
    .leaders__catalog
      button.leaders__btn.btn.btn-stroke Перейти в каталог
