section.hero
  .container.hero__container
    h1.hero__title Название
    p.hero__description Интернет-магазин строительных материалов с 
      span.hero__text-decoration единой доставкой
      |  и возможностью
      span.hero__text-decoration  заказать образцы
    .hero__buttons
      +buttonFill('#', 'К товарам', 'Перейти к товарам')
      +button('#', 'Связаться', 'Связаться с нами')
