section.projects
  .container
    .projects__swiper.projects__mask
      .projects__info.info
        h3.projects__title Название 1 проекта
        p.projects__thesis тезис проекта
        .projects__line
        p.projects__description.info__description Очень умный текст о проекте, чтобы люди видели, что это такое и тому подобное. Прям читают и восхищаются
        .projects__arrow.arrow-active
      .swiper-wrapper
        .swiper-slide.projects__slide
          +photo-project('Проект 1: Название проекта', 'building-1')
        .swiper-slide.projects__slide
          +photo-project('Проект 1: Название проекта', 'building-2')
        .swiper-slide.projects__slide
          +photo-project('Проект 1: Название проекта', 'building-1')
      .projects__pagination-0.projects__pagination
      .projects__swiper-button-prev-0
      .projects__swiper-button-next-0

    .projects__swiper.projects__mask
      .projects__info
        h3.projects__title Название 2 проекта
        p.projects__thesis тезис проекта
        .projects__line
        p.projects__description.info__description Очень умный текст о проекте, чтобы люди видели, что это такое и тому подобное. Прям читают и восхищаются
        .projects__arrow.arrow-active
      .swiper-wrapper
        .swiper-slide.projects__slide
          +photo-project('Проект 1: Название проекта', 'building-1')
        .swiper-slide.projects__slide
          +photo-project('Проект 1: Название проекта', 'building-2')
        .swiper-slide.projects__slide
          +photo-project('Проект 1: Название проекта', 'building-1')
      .projects__pagination-1.projects__pagination
      .projects__swiper-button-prev-1
      .projects__swiper-button-next-1

