section.purchase-stages
  .purchase-stages__container.container
    h2.title Этапы покупки
    .swiper.purchase-stages__slider
      .swiper-wrapper.swiper__container
        .swiper-slide.purchase-stages__slide
          +photo-purchase-stages('slidepic1', 'slidepic1', 'jpg')
          .purchase-stages__text-container
            p.purchase-stages__title Формирование корзины, заказ образцов
            p.purchase-stages__duration 30 минут
            p.purchase-stages__description Вы выбираете необходимые товары, складываете их в корзину и заполняете форму для заказа образцов выбранных материалов

        .swiper-slide.purchase-stages__slide
          +photo-purchase-stages('slidepic2', 'slidepic2', 'jpg')
          .purchase-stages__text-container
            p.purchase-stages__title Обработка заявки
            p.purchase-stages__duration 3 дня
            p.purchase-stages__description Наши менеджеры свяжутся с вами в течение 3-х дней для обсуждения деталей заказа

        .swiper-slide.purchase-stages__slide
          +photo-purchase-stages('slidepic3', 'slidepic3', 'jpg')
          .purchase-stages__text-container
            p.purchase-stages__title Доставка образцов, проверка качества
            p.purchase-stages__duration 14 дней
            p.purchase-stages__description Доставка образцов до Саудовской Аравии, растаможка, доставка до места. Наш менеджер свяжется с вами в течение 2-х недель после получения товара для проверки качества доставки и формирования полноценного заказа

        .swiper-slide.purchase-stages__slide
          +photo-purchase-stages('slidepic4', 'slidepic4', 'jpg')
          .purchase-stages__text-container
            p.purchase-stages__title Подписание контракта на поставку через электронную платформу
            p.purchase-stages__duration 1 час
            p.purchase-stages__description Вы выбираете необходимые товары, складываете их в корзину и заполняете форму для заказа образцов выбранных материалов

        .swiper-slide.purchase-stages__slide
          +photo-purchase-stages('slidepic5', 'slidepic5', 'jpg')
          .purchase-stages__text-container
            p.purchase-stages__title Предоплата, заключение договора с банком для работы по системе Surety Bond
            p.purchase-stages__duration 7 дней
            p.purchase-stages__description Один из наших принципов — безопасность сделки. Подпишем с вами страховой документ, чтобы вы были уверены, что с вашими финансами ничего не случится

        .swiper-slide.purchase-stages__slide
          +photo-purchase-stages('slidepic6', 'slidepic6', 'jpg')
          .purchase-stages__text-container
            p.purchase-stages__title Размещение и получение заказов у заводов-изготовителей
            p.purchase-stages__duration 1–2 месяца
            p.purchase-stages__description Мы отправим заявки заводам-изготовителям по вашему заказу. Получим товар, проверим качество, сформируем контейнеры и подготовим к отгрузке

        .swiper-slide.purchase-stages__slide
          +photo-purchase-stages('slidepic7', 'slidepic7', 'jpg')
          .purchase-stages__text-container
            p.purchase-stages__title Доставка заказа до границы с Саудовской Аравией
            p.purchase-stages__duration 5–20 дней
            p.purchase-stages__description Отправим заказ выбранным вами методом (морским или авиа). Товары поступят в центр растаможивания

        .swiper-slide.purchase-stages__slide
          +photo-purchase-stages('slidepic8', 'slidepic8', 'jpg')
          .purchase-stages__text-container
            p.purchase-stages__title Самостоятельная растаможка и доставка товаров до объекта
            p.purchase-stages__duration 3 дня
            p.purchase-stages__description По нашей инструкции вы растаможите товар в специализированном центре и логистической компанией или своими силами доставите его до объекта для использования

      .swiper-pagination.purchase-stages__pagination
