section.subscribe
  .container.subscribe__container
    .subscribe__content
      p.subscribe__text <span class="subscribe__colortext">Подпишитесь</span> на&nbsp;новости KSA и&nbsp;<span class="subscribe__colortext">получите промокод</span> на&nbsp;скидку&nbsp;5%
      form(class='subscribe__form' action="")
        input(class='subscribe__input subscribe__input-name' type="text", name="name" placeholder='ФИО*')
        input(class='subscribe__input subscribe__input-email' type="email", name="email" placeholder='example@email.com*')
        input(class='subscribe__btn btn btn-fill' type="submit", value="Подписаться")