// цвета дизайн системы
$white-background: #FFF;
$dirty-white: #F3F3F3;
$grey-background: #F6F6F6;
$white: #FCFCFC;
$paper-background: #FDFDFD;
$white-blue: #EBF4FA;
$dark-white: #EAECEA;
$dark-grey: #C4C4C4;
$light-blue: #A7C8E3;
$light-sky: #94C5E4;
$blue-kirill: #80ADD6;
$light-grey: #B3B3B3;
$light-grey-2: #9F9F9F;
$grey: #868A8D;
$orange: #F05B2A;
$dark-orange: #DC5A29;
$red: #EF4444;
$blue: #528FC8;
$night-sky: #284764;
$dirty-blue: rgba(61, 149, 206, 0.3);
$dark-blue: #3B6B98;
$black0_5: rgba(0, 0, 0, 0.5);
$black: #0E151B;

$fontFamily: Ubuntu, sans-serif;

//media
$x-xl: '1920px';
$x-xl-1: '1671px';
$xl: '1366px';
$xl-1: '1296px';
$xl-2: '1070px';
$xl-3: '1100px';
$xl-4: '960px';
$lg: '768px';
$lg-2: '620px';
$xs: '582px';
